.layout-admin {
  .admin-header {
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  .menu-dashboard {
    border: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .ant-layout-content .ant-row {
    display: block;

    > div {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
