footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.54);
  background: #eee;

  .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 15px 0;
    box-sizing: border-box;

    h3 {
      font-size: 16px;
      margin-bottom: 10px;

      & + p {
        margin-bottom: 25px;
      }
    }
    h4 {
      font-size: 14px;
      margin-bottom: 10px;

      & + p {
        margin-bottom: 25px;
      }
    }
    p {
      font-size: 13px;
    }
  }

  .footer-contact {
    display: flex;
    margin-top: 40px;

    .card {
      margin-right: 70px;

      h4 {
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 5px;
        margin-bottom: 15px;
      }
      ul {
        li {
          list-style-type: none;
          margin-bottom: 7px;
          cursor: pointer;
          font-size: 13px;
          transition: all 0.3s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .card-contact {
      p {
        display: flex;
        align-items: center;
        margin-bottom: 13px !important;
        line-height: 1;

        svg {
          margin-right: 8px;
        }
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }
    .card-category {
      max-width: 160px;

      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          margin-right: 5px;
          padding-right: 5px;
          position: relative;
          transition: all 0.3s ease;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 55%;
            background-color: #d9d9d9;
          }

          &:last-child::before {
            display: none;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .copyright {
    padding: 15px 0;
    margin-top: 35px;
    text-align: center;
    background: #eee;
    font-size: 11px;
  }
}

@media only screen and (max-width: 1020px) {
  footer .footer-contact .card {
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  footer .footer-contact .card {
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  footer .footer-container h3,
  footer .footer-container h4 {
    font-size: 0.72rem;
  }
  footer .footer-contact {
    display: block;

    > div {
      max-width: 100% !important;
      margin-bottom: 30px;
    }
  }
  footer .copyright {
    margin-top: 26px;
  }
}
